utils/text
utils/text_comp
utils/text_comp.xz
utils/__pycache__
utils/logfile
utils/script.sh
pruebas/
files/
.cache/
/home/tarmo/Desktop/router/rt63365e-bootloader/lib/minlzlib/tags
tags
compile_commands.json
*.obj
*.o
*.swp
lib/minlzlib/obj/*.o
